body.custom-sidebar.category.category-knowledge-base div[data-name="all"] {
    display: none;
}

body.custom-sidebar.category.category-knowledge-base .category-title-description {
    display: none !important;
}

body.custom-sidebar.category.category-knowledge-base .category-title-knowledge-base h1 {
    font-size: 1.7em !important;
}

body.custom-sidebar.category.category-knowledge-base .topic-list .right {
    margin-top: 15px;
    margin-bottom: 15px;
}

body.custom-sidebar.category.category-knowledge-base .topic-list .pull-left {
    margin-top: 13px;
    margin-right: 20px;
}

body.custom-sidebar.category.category-knowledge-base .topic-list .posts{
    display: none !important;
}

body.custom-sidebar.category.category-knowledge-base .has-thumbnail,
body.category.archetype-regular.category-knowledge-base .title-wrapper .badge-wrapper,
body.category.archetype-regular.category-knowledge-base-video .title-wrapper .badge-wrapper {
    display: none;
}

body.category.archetype-regular.category-knowledge-base #post_1 .topic-avatar {
    margin-top: -5px;
}

body.category.archetype-regular.category-knowledge-base .topic-meta-data {
    margin-left: 30px !important;
}

body.category.archetype-regular.category-knowledge-base .topic-meta-data div.edits {
    display: none !important;
}
