@media (max-width: 1100px) {
    .topic-sidebar,
    .category-sidebar{
        display: none !important;
    }
    
    body.category.archetype-regular.category-knowledge-base .topic-body {
        border-right: 0px !important;
    }
    
    .custom-sidebar.sidebar-right .contents>table.topic-list {
        grid-template-columns: 99.5% 25.5% !important;
    }
}

@media (min-width: 1100px) {
    body.category.archetype-regular.category-knowledge-base .topic-body {
        width: calc(815px + (11px * 2)) !important;
    }
}

/*topic-list changes*/
body.custom-sidebar.category.category-knowledge-base .topic-list-thumbnail.no-thumbnail, 
body.tags-page.category-knowledge-base .topic-list-thumbnail.no-thumbnail {
    display: none;
}

body.custom-sidebar.category.category-knowledge-base .link-bottom-line a.badge-wrapper.none, 
body.tags-page.category-knowledge-base .link-bottom-line a.badge-wrapper.none,
body.custom-sidebar.category.category-knowledge-base .topic-item-stats a.badge-wrapper.none, 
body.tags-page.category-knowledge-base .topic-item-stats a.badge-wrapper.none {
    margin-top: 2px;
    margin-bottom: 4px;
    display: none;
}

body.custom-sidebar.category.category-knowledge-base .topic-list .main-link a.title.raw-topic-link, 
body.tags-page.category-knowledge-base .topic-list .main-link a.title.raw-topic-link,
body.custom-sidebar.category.category-knowledge-base .topic-list .main-link a.title.raw-topic-link:visited, 
body.tags-page.category-knowledge-base .topic-list .main-link a.title.raw-topic-link:visited {
    color: var(--primary) !important;
}

body.custom-sidebar.category.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/top?max_posts=1"], 
body.tags-page.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/top?max_posts=1"],
body.custom-sidebar.category.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/latest?max_posts=1"], 
body.tags-page.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/latest?max_posts=1"] {
    display: none;
}

body.custom-sidebar.category.category-knowledge-base .topic-list .posters a:first-child .avatar.latest:not(.single), 
body.tags-page.category-knowledge-base .topic-list .posters a:first-child .avatar.latest:not(.single) {
    border: 0 !important;
    box-shadow: none !important;
}

body.custom-sidebar.category.category-knowledge-base .category-drop, body.tags-page.category-knowledge-base .category-drop,
body.custom-sidebar.category.category-knowledge-base li[title~="track"], 
body.tags-page.category-knowledge-base li[title~="Topics"],
body.custom-sidebar.category.category-knowledge-base li[title~="bookmarked"], 
body.tags-page.category-knowledge-base li[title~="bookmarked"],
body.custom-sidebar.category.category-knowledge-base .category.category-box.category-box-video.no-category-boxes-style,
body.custom-sidebar.category.category-knowledge-base .navigation-container .solved-status-filter,
body.category-knowledge-base li[title="Topics that have not been answered"]{
    display: none !important;
}

/*end topic-list-changes*/

/*topic-body changes*/
body.category.archetype-regular.category-knowledge-base .topic-area ul.d-toc {
    display: none;
}

body.category.archetype-regular.category-knowledge-base .d-toc-post .d-toc-article>.row {
    border-right: 0px !important;
}

html.anon body.category.archetype-regular.category-knowledge-base #topic-footer-buttons button {
    margin-bottom: 25px !important;
}

html.anon body.category.archetype-regular.category-knowledge-base .topic-meta-data div.edits {
    display: none;
}

body.category.archetype-regular.category-knowledge-base .posts-wrapper>div:not(.loading-container) .post-stream .topic-sidebar-contents,
body.category.archetype-regular.category-knowledge-base-video .posts-wrapper>div:not(.loading-container) .post-stream .topic-sidebar-contents 
{
	display: none !important;
}

body.category.archetype-regular.category-knowledge-base #post_1 .topic-avatar img.avatar, 
.category-news #post_1 .topic-avatar img.avatar {
    height: 26px !important;
    width: 26px !important;
}

//suggested-topics changes
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper thead, 
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper td.posts, 
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper td.likes, 
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper td.num.age.activity {
	display: none !important;
}

//hide welcome banner
body.category.archetype-regular.category-knowledge-base #main-outlet #banner,
body.category.archetype-regular.category-news #main-outlet #banner {
	display: none;
}

//links color
body.category.archetype-regular.category-knowledge-base .topic-body .contents a {
	color: blue !important;
}

/*end topic-body changes*/

/*hide pdfs in moved blog category*/
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type img[src*="https://aws1.discourse-cdn.com/techcommunity/original/2X/b/b5c3cd84af8b27483fda1da8ce75a5b51941ae12.png"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type img[src*="https://aws1.discourse-cdn.com/techcommunity/original/2X/b/b5c3cd84af8b27483fda1da8ce75a5b51941ae12.png"]+span,
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type td img[src*="http://communities.softwareag.com/image/image_gallery?%20uuid=202eb7e1-9148-4c65-b29a-54c4302ab65e&groupId=10157&t=1326987658425"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type td img[src*="http://communities.softwareag.com/image/image_gallery"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type a[href*="http://techcommunity.softwareag.com/ecosystem/download/techniques/"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type a[href*="http://techcommunity.softwareag.com/protected/download/techniques/"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type a[href*="http://communities.softwareag.com/protected/download/techniques"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type a[href*="http://communities.softwareag.com/download/techniques/"]
{
    display: none !important;
}

//hide tags with issue-//
.discourse-tags a[data-tag-name*="issue"] {
    display: none;
}

div[data-wrap="moved-attachments"] img {
	display: none;
}
/*end hide pdfs in moved blog category*/
