//discourse-knowledge-base-topic-sidebar - common.scss

@media (max-width: 1200px) {
    .topic-sidebar,
    .category-sidebar{
        display: none !important;
    }
    
    body.category.archetype-regular.category-knowledge-base .topic-body {
        border-right: 0px !important;
    }
    
    .custom-sidebar.sidebar-right .contents>table.topic-list {
        grid-template-columns: 99.5% 25.5% !important;
    }
}

@media (min-width: 1100px) {
    body.category.archetype-regular.category-knowledge-base,
    body.category.archetype-regular.category-knowledge-base-video {
	.topic-body {
        	width: calc(815px + (11px * 2)) !important;
	 }
    }
}

/*topic-list changes*/
body.custom-sidebar.category.category-knowledge-base .topic-list-thumbnail.no-thumbnail, 
body.tags-page.category-knowledge-base .topic-list-thumbnail.no-thumbnail {
    display: none;
}

//Remove the display: none property to display  the category link on the Knowledge Base category page toppic-list. [Modified by: Saurabh; Date: 15-04-2022]
body.custom-sidebar.category.category-knowledge-base .link-bottom-line a.badge-wrapper.none, 
body.tags-page.category-knowledge-base .link-bottom-line a.badge-wrapper.none,
body.custom-sidebar.category.category-knowledge-base .topic-item-stats a.badge-wrapper.none, 
body.tags-page.category-knowledge-base .topic-item-stats a.badge-wrapper.none {
    margin-top: 2px;
    margin-bottom: 4px;
}

body.custom-sidebar.category.category-knowledge-base .topic-list .main-link a.title.raw-topic-link, 
body.tags-page.category-knowledge-base .topic-list .main-link a.title.raw-topic-link,
body.custom-sidebar.category.category-knowledge-base .topic-list .main-link a.title.raw-topic-link:visited, 
body.tags-page.category-knowledge-base .topic-list .main-link a.title.raw-topic-link:visited {
    color: var(--primary) !important;
}

body.custom-sidebar.category.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/top?max_posts=1"], 
body.tags-page.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/top?max_posts=1"],
body.custom-sidebar.category.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/latest?max_posts=1"], 
body.tags-page.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/latest?max_posts=1"] {
    display: none;
}

body.custom-sidebar.category.category-knowledge-base .topic-list .posters a:first-child .avatar.latest:not(.single), 
body.tags-page.category-knowledge-base .topic-list .posters a:first-child .avatar.latest:not(.single) {
    border: 0 !important;
    box-shadow: none !important;
}

body.custom-sidebar.category.category-knowledge-base .category-drop, body.tags-page.category-knowledge-base .category-drop,
body.custom-sidebar.category.category-knowledge-base li[title~="track"], 
body.tags-page.category-knowledge-base li[title~="Topics"],
body.custom-sidebar.category.category-knowledge-base li[title~="bookmarked"], 
body.tags-page.category-knowledge-base li[title~="bookmarked"],
body.custom-sidebar.category.category-knowledge-base .category.category-box.category-box-video.no-category-boxes-style,
body.custom-sidebar.category.category-knowledge-base .navigation-container .solved-status-filter,
body.category-knowledge-base li[title="Topics that have not been answered"]{
    display: none !important;
}

/*end topic-list-changes*/

/*topic-body changes*/
body.category.archetype-regular.category-knowledge-base .d-toc-post .d-toc-article>.row {
    border-right: 0px !important;
}

body.category.archetype-regular.category-knowledge-base:not(.staff),
body.category.archetype-regular.category-knowledge-base-video:not(.staff),
body.category.archetype-regular.category-knowledge-base-blog:not(.staff) {
	.topic-meta-data div.edits {
	    display: none;
	}
}

body.category.archetype-regular.category-knowledge-base #post_1 .topic-avatar img.avatar, 
.category-news #post_1 .topic-avatar img.avatar {
    height: 26px !important;
    width: 26px !important;
}

//suggested-topics changes
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper thead,
body.category.archetype-regular.category-knowledge-base-video .suggested-topics-wrapper thead,
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper td.posts, 
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper td.likes, 
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper td.views,
body.category.archetype-regular.category-knowledge-base .suggested-topics-wrapper td.num.age.activity {
	display: none !important;
}

//hide welcome banner
body.category.archetype-regular.category-knowledge-base #main-outlet #banner,
body.category.archetype-regular.category-news #main-outlet #banner {
	display: none;
}

//links color
body.category.archetype-regular.category-knowledge-base .topic-body .contents a {
	color: blue !important;
}

//edit comments section
body.archetype-regular.category.category-knowledge-base,
body.archetype-regular.category.category-knowledge-base-video {
    article#post_2:before {
        content: "Comments";
        position: relative;
        bottom: 15px;
        font-size: 1.17rem;
        font-weight: bold;
        line-height: 2.5em; 
    }
    
    .topic-post {
        padding-bottom: 30px !important;
    }
    
    .post-stream .time-gap+.topic-post article#post_2:before {
        bottom: 10px !important;
    }
}
/*end topic-body changes*/

/*hide pdfs in moved blog category*/
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type img[src*="https://aws1.discourse-cdn.com/techcommunity/original/2X/b/b5c3cd84af8b27483fda1da8ce75a5b51941ae12.png"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type img[src*="https://aws1.discourse-cdn.com/techcommunity/original/2X/b/b5c3cd84af8b27483fda1da8ce75a5b51941ae12.png"]+span,
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type td img[src*="http://communities.softwareag.com/image/image_gallery?%20uuid=202eb7e1-9148-4c65-b29a-54c4302ab65e&groupId=10157&t=1326987658425"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type td img[src*="http://communities.softwareag.com/image/image_gallery"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type a[href*="http://techcommunity.softwareag.com/ecosystem/download/techniques/"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type a[href*="http://techcommunity.softwareag.com/protected/download/techniques/"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type a[href*="http://communities.softwareag.com/protected/download/techniques"],
body.archetype-regular.category.category-knowledge-base .topic-body .md-table:first-of-type a[href*="http://communities.softwareag.com/download/techniques/"],
body.archetype-regular.category.category-knowledge-base div.topic-post a[href*="http://techcommunity.softwareag.com/ecosystem/download/techniques"],
body.archetype-regular.category.category-knowledge-base div.topic-post a[href*="http://techcommunity.softwareag.com/protected/download/techniques"]
{
    display: none !important;
}

//hide tags with issue-//
.discourse-tags a[data-tag-name*="issue"] {
    display: none;
}

div[data-wrap="moved-attachments"] img {
	display: none !important;
}

div[data-wrap="moved-attachments"] p:empty {
	display: none !important;
}
/*end hide pdfs in moved blog category*/

//KB video category
body.category.category-header.category-knowledge-base-video .link-top-line {
    overflow: hidden;
    position: relative;
    line-height: 1.5em;
    max-height: 3em;
    min-height: 3em;
    transition: 1s;
}

body.category.category-header.category-knowledge-base-video .link-top-line:hover,
body.category.category-header.category-knowledge-base-video .topic-list-thumbnail:hover~.main-link .link-top-line,
body.category.category-header.category-knowledge-base-video .topic-list-item:hover>.main-link .link-top-line {
    min-height: 4.5em !important;
}

body.category.category-header.category-knowledge-base-video .link-top-line:hover+.link-bottom-line,
body.category.category-header.category-knowledge-base-video .link-bottom-line:hover,
body.category.category-header.category-knowledge-base-video .topic-list-thumbnail:hover~.main-link .link-bottom-line,
body.category.category-header.category-knowledge-base-video .topic-list-item:hover>.main-link .link-bottom-line {
    min-height: 5em !important;
}

body.category.category-header.category-knowledge-base-video .link-bottom-line {
    overflow: hidden;
    position: relative;
    line-height: 1.1em;
    max-height: 3.4em;
    min-height: 3em;
    transition: 0.5s;
}

body.category.category-header.category-knowledge-base-video .topic-thumbnails-masonry {
    .main-link, .activity, .posters {
        background-color: #f2f2ea !important;
    }
}

body.category.category-header.category-knowledge-base-video .topic-list-item td.num.likes,
body.category.category-header.category-knowledge-base-video .topic-list-item .link-top-line .d-tooltip{
    display: none !important;
}


body.category.category-header.category-knowledge-base-video .topic-thumbnails-masonry .topic-list-thumbnail .main-thumbnail {
    height: 87% !important;
    object-fit: unset !important;
    top: -37px;
}

/* Binjan; 2023.07.11; Comment height CSS to solve issue of overlapping video items on https://tech.forums.softwareag.com/c/knowledge-base/video/8 page */
/*.category.category-header.category-knowledge-base-video .topic-thumbnails-masonry .topic-list-item {
    height: 332px !important;
}*/

body.category.category-header.category-knowledge-base-video .topic-thumbnails-masonry .topic-list-item:hover .main-thumbnail {
    opacity: 0.5;
}
body.category.category-header.category-knowledge-base-video .topic-thumbnails-masonry .topic-list-item:hover td.main-link.clearfix,
body.category.category-header.category-knowledge-base-video .topic-thumbnails-masonry .topic-list-item:hover td.activity,
body.category.category-header.category-knowledge-base-video .topic-thumbnails-masonry .topic-list-item:hover td.posters
{
    background-color: #fafaf8 !important;
    transition:0.5s;
}

body.category.category-header.category-knowledge-base-video .topic-list td.num.age.activity a.post-activity{
    display: none !important;
}

body.category.category-header.category-knowledge-base-video .list-controls {
    margin-bottom: 12px;
}
//end KB video category

body.category-knowledge-base,
body.category-knowledge-base-video {
    .cooked {
        padding-left: 0px !important;
    }
}

// Add Back to button on KB articles

body.category.archetype-regular.category-knowledge-base,
body.category.archetype-regular.category-knowledge-base-video {
    .title-wrapper .topic-category {
        .badge-wrapper {
            display: block !important;
            
            .badge-category {
                /*margin-left: 5px;*/ /* Commented by Binjan; 2023.10.16 */
                padding-left: 2px; /* Added by Binjan; 2023.10.16 */  
            } 
	 }   
    }
}

// end Add Back to button on KB articles

body.category.archetype-regular.category-knowledge-base-video {
	#topic-title {
		margin-top: 1em;
	}
}

//fixing disco toc
@media (min-width: 1024px) {
    body.category.archetype-regular.category-knowledge-base.d-toc-timeline-visible .container.posts {
        display: grid !important;
    
        .topic-navigation {
            .d-toc-main {
                #d-toc {
                    margin-left: -18px;
                }
            }
        }
    }
}

body.category.archetype-regular.category-knowledge-base .container.posts .topic-navigation {
    margin-left: 1em !important;
    
    .d-toc-main {
        border-left: 0px !important;
    }
}

body.archetype-regular.d-toc-timeline-visible.category-drafts .container.posts .topic-navigation {
    margin-left: -1.5em !important;
}

// end fixing disco toc

.cooked h6, 
.d-editor-preview h1 {
	margin: 24px 0 10px;
}
body.category.archetype-regular.category-knowledge-base,
body.category.archetype-regular.category-knowledge-base-video {
    .cooked {
		h1, h2, h3, h4, h5 {
			margin: 24px 0 10px;
		}
	}
	.d-editor-preview {
		h2, h3, h4, h5, h6 {
			margin: 24px 0 10px;
		}
	}
}

// Knowledge base category CSS moved from "TECHcommunity-customizations" component.
.category-knowledge-base #list-area .show-more.has-topics {
    top: 25px;
}

// comment css to removed style on knowleage base page that makes links in headings black; Binjan; 2023.05.18
/*body.category.archetype-regular.category-knowledge-base .topic-body .contents h1 a,
body.category.archetype-regular.category-knowledge-base .topic-body .contents h2 a,
body.category.archetype-regular.category-knowledge-base .topic-body .contents h3 a{
    color: #222 !important;
}*/

body.category.archetype-regular.category-knowledge-base h2, body.category.archetype-regular.category-knowledge-base h3 {
    border-bottom: none !important;
}

.category-knowledge-base article nav.post-controls .actions {
    padding-right: 1em;
}

body.category.archetype-regular.category-knowledge-base #post_1 .topic-body .topic-map {
    margin-bottom: -1px;
    margin-left: -27px;
    display: block !important;
    width: 863px;
}

body.category.archetype-regular.category-knowledge-base-video #post_1 .topic-body .topic-map {
    margin-bottom: -1px;   
    margin-left: -5px;
    width: 865px;
}

.category-knowledge-base #post_1 .cooked p:first-child + div.lightbox-wrapper, .category-news #post_1 .cooked p:first-child + div.lightbox-wrapper, .category-drafts #post_1 .cooked p:first-child + div.lightbox-wrapper, .category-alfabet-user-group-meetings #post_1 .cooked p:first-child + div.lightbox-wrapper {
    display: block !important;
}

.category.category-knowledge-base .shared-drafts {
    display: none !important;
}

.category-knowledge-base .loading-container .topic-timer-info {
    border-top: none;
}

.category-knowledge-base .time-gap.small-action .topic-avatar {
    background: none !important;
}

//Modified to align the flair image on the KB and Video category topics. [Modified by: Saurabh; Date: 18-07-2022]
//Flair icon CSS for KB/Videos/Draft categories [Modified by: Saurabh; Date: 18-01-2023]
body{
    &.category.archetype-regular.category-knowledge-base-video #post_1 {
        .topic-avatar {
            .post-avatar {
                @include breakpoint(tablet, min-width) {
                    .avatar-flair {
                        top: 14px;
                        right: -37px;
                    }   
                }
            }
        }
    }
    &.category.archetype-regular.category-knowledge-base #post_1 {
        .topic-avatar {
            .post-avatar {
                .avatar-flair {
                    top: 16px;
                    right: -6px;
                    .d-icon {
                        font-size: 1rem !important;
                        height: 1em;
                        width: 1em;
                    }
                }
            }
        }
    }
    &.category.archetype-regular.category-drafts #post_1 {
        .topic-avatar {
            .post-avatar {
                .avatar-flair.avatar-flair-team.rounded {
                    left: -3px !important;
                }
            }
        }
    }
    &.category-knowledge-base,
    &.category-knowledge-base-video {
        article {
            .topic-avatar {
                width: 20px !important;
                padding-left: 6px;
    		    padding-top: 8px;
                
                img.avatar {
                    width: 26px !important;
                    height: 26px !important;
                }
                
                .post-avatar {
                    .avatar-flair {
                        top: 12px;
                        right: -12px;
                        
                    }
                    .avatar-flair.avatar-flair-image {
                        background-size: 12px 12px !important;
                        width: 15px !important;
                        height: 15px!important;
                        top: unset !important;
                        bottom: -3px !important;
                        right: -3px;
                        &.avatar-flair-team {
                            left: -6px !important;
                        }
                    }
                    
                }
            }
            &:not(#post_1) .topic-avatar {
                height: auto;
            }
        }
    }
} 
//End of Flair icon CSS for KB/Videos/Draft categories
