.topic-list a.badge-wrapper.box, 
.topic-list a.discourse-tag.box::before {
    content: "#";
    color: var(--primary-low-mid) !important;
}

.topic-list a.badge-wrapper.box, 
.topic-list a.discourse-tag.box {
    color: var(--primary-medium) !important;
    background-color: unset !important;
}

@media (max-width: 1100px) {
    .topic-sidebar,
    .category-sidebar{
        display: none !important;
    }
    
    body.category.archetype-regular.category-knowledge-base .topic-body {
        border-right: 0px !important;
    }
    
    .custom-sidebar.sidebar-right .contents>table.topic-list {
        grid-template-columns: 99.5% 25.5% !important;
    }
}

@media (min-width: 1100px) {
    body.category.archetype-regular.category-knowledge-base .topic-body {
        width: calc(815px + (11px * 2)) !important;
    }
    
    body.tags-page.category-knowledge-base #list-area td.main-link.clearfix {
        width: 89% !important;
    }
}


body.categories-list.category-knowledge-base .topic-list-thumbnail.no-thumbnail, body.tags-page.category-knowledge-base .topic-list-thumbnail.no-thumbnail{
    display: none;
}

body.categories-list.category-knowledge-base .link-bottom-line a.badge-wrapper.none, body.tags-page.category-knowledge-base .link-bottom-line a.badge-wrapper.none,
body.categories-list.category-knowledge-base .topic-item-stats a.badge-wrapper.none, body.tags-page.category-knowledge-base .topic-item-stats a.badge-wrapper.none{
    margin-top: 2px;
    margin-bottom: 4px;
    display: none;
}

body.categories-list.category-knowledge-base .topic-list .main-link a.title.raw-topic-link, body.tags-page.category-knowledge-base .topic-list .main-link a.title.raw-topic-link,
body.categories-list.category-knowledge-base .topic-list .main-link a.title.raw-topic-link:visited, body.tags-page.category-knowledge-base .topic-list .main-link a.title.raw-topic-link:visited{
    color: var(--primary) !important;
}

body.category.archetype-regular.category-knowledge-base #post_1 .topic-avatar img.avatar, 
.category-news #post_1 .topic-avatar img.avatar {
    height: 26px !important;
    width: 26px !important;
}

body.category-knowledge-base .suggested-topics-wrapper {
    display:none;
}

body.category.archetype-regular.category-knowledge-base .topic-body .contents a {
    color: blue !important;
}

body.categories-list.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/top?max_posts=1"], body.tags-page.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/top?max_posts=1"],
body.categories-list.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/latest?max_posts=1"], body.tags-page.category-knowledge-base #navigation-bar a[href="/c/knowledge-base/6/l/latest?max_posts=1"]{
    display: none;
}

body.categories-list.category-knowledge-base .topic-list .posters a:first-child .avatar.latest:not(.single), body.tags-page.category-knowledge-base .topic-list .posters a:first-child .avatar.latest:not(.single){
    border: 0 !important;
    box-shadow: none !important;
}

body.categories-list.category-knowledge-base .category-drop, body.tags-page.category-knowledge-base .category-drop,
body.categories-list.category-knowledge-base li[title~="track"], body.tags-page.category-knowledge-base li[title~="Topics"],
body.categories-list.category-knowledge-base li[title~="bookmarked"], body.tags-page.category-knowledge-base li[title~="bookmarked"],
body.categories-list.category-knowledge-base .category.category-box.category-box-video.no-category-boxes-style  {
    display: none;
}
