//discourse-knowledge-base-topic-sidebar - desktop.scss

/*topic-body changes*/

//hide anchor hashtags from toc articles
a.d-toc-anchor-link svg {
    color: #fafafa !important;
}

.cooked h6, 
.d-editor-preview h1 {
	margin: 24px 0 10px;
}

.category-news #topic-title h1 {
    font-size: 2.4em;
}

.category-news #post_1 .topic-body .topic-meta-data {
    flex-direction: unset !important;
    margin-left: 15px !important;
}

body.category.archetype-regular.category-knowledge-base,
body.category.archetype-regular.category-knowledge-base-video {
	#post_1 {
		.topic-body {
			.contents{
				padding: 0px 20px 0px 0px !important;
    			margin-top: 20px;
			}

			.topic-madip {
				margin: 20px !important;
			}

			h1 {
			    font-size: 1.9rem !important;
			}

			h2 {
			    font-size: 1.7rem !important;
			}

			h3 {
			    font-size: 1.3rem !important;
			}

			h4 {
			    font-size: 1.1rem !important;
			}

			img:not(.thumbnail) {
			    border-radius: 10px;
			    border: 2px solid #efefef;
			}

			button.reply {
			    display: none !important;
			}

			border-right: 1px solid var(--primary-low);
		    border-bottom: 1px solid var(--primary-low);
		    background-color: transparent !important;
		}

		.row {
			div.post-notice.returning-user,
			div.post-notice.new-user {
				display:  none !important;
			}
		}

		p, li, div, span {
			font-size: 1.1rem !important;
		}
	}

	.cooked {
		h1, h2, h3, h4, h5 {
			margin: 24px 0 10px;
		}
	}

	.d-editor-preview {
		h2, h3, h4, h5, h6 {
			margin: 24px 0 10px;
		}
	}

	#new-create-topic {
		display: none;
	}

	#topic-title {
		.title-wrapper {     
		    width: 78% !important;  

		   h1 {
				font-size: 2.4em;	
			}    
		}

		display: block !important;
	}

	.topic-post {
		.row {
			justify-content: unset !important;
		}
	}

	.time-gap {
		margin: 0 0 20px 0 !important;
	}

	.topic-area {
		.topic-status-info {
    		border-top: 0px !important;
		}
	}
}

body.category.archetype-regular.category-knowledge-base {
	.topic-list {
		.discourse-tags { 
    		margin-left: -5px !important;
		}
	}

	#post_1 {
		.topic-avatar {
		    padding-top: 4px !important;
		}

		.topic-meta-data {
			flex-direction: unset !important;
	    	margin-left: 15px !important;
		}
	}
	
	/*Reply button changes in KB*/
	#topic-footer-buttons {
		button.btn-primary {
			float: left !important;

			&:after {
				content: "Leave a comment";
			}

			span.d-button-label {
			    display: none !important;
			}
		}
	}
}

/*end topic-body changes*/

// topic-meta-data changes
body.category.archetype-regular.category-knowledge-base,
body.category.archetype-regular.category-knowledge-base-video {
	.topic-meta-data {
		.svg-icon-title, .poster-icon-container, .second {
			display: none !important;
		}

		.edits {
			position: absolute;
		    right: 0;
		    margin-bottom: 7px;
		}

		.names{
		    margin-right: unset !important;
		    flex: unset !important;
		}
	}

	.topic-owner {
		.topic-meta-data {
			.post-infos .post-date {
				margin-bottom: 0px !important;
			}
		}
	}
}

// end topic-meta-data changes

/*topic-sidebar changes*/

body.category.archetype-regular.category-knowledge-base .post-stream div.topic-sidebar-contents a.sidebar-contents-topics, 
body.category.archetype-regular.category-knowledge-base-video .post-stream div.topic-sidebar-contents a.sidebar-contents-topics{
    font-size: 1.1em;
    font-weight: bold;
    color: #656565;
    border-bottom: 1px solid var(--primary-low) !important;
    display: block !important;
    padding: 15px 10px;
    font-weight: unset;
    position: relative;
    z-index: 100;
}

body.category.archetype-regular.category-knowledge-base .post-stream div.topic-sidebar-contents h2,
body.category.archetype-regular.category-knowledge-base-video .post-stream div.topic-sidebar-contents h2{
    padding: 15px 8px;
    border-bottom: 1px solid var(--primary-low) !important;
}


body.category.archetype-regular.category-knowledge-base .post-stream div.topic-sidebar-contents svg.fa,
body.category.archetype-regular.category-knowledge-base-video .post-stream div.topic-sidebar-contents svg.fa{
    color: #999;
    min-width: unset;
    margin: 0;
    font-size: 2em;
    opacity: 1;
    padding-right: 22px;
    padding-top: 20px;
    position: relative;
    z-index: 100;
}

body.category.archetype-regular.category-knowledge-base .post-stream div.topic-sidebar-contents svg.fa:hover,
body.category.archetype-regular.category-knowledge-base-video .post-stream div.topic-sidebar-contents svg.fa:hover{
    color: #8e3cf7 !important;
}

body.category.archetype-regular.category-knowledge-base .post-stream div.topic-sidebar-contents svg.fa-twitter,
body.category.archetype-regular.category-knowledge-base-video .post-stream div.topic-sidebar-contents svg.fa-twitter{
    padding-left: 18px;
}


body.category.archetype-regular.category-knowledge-base a.sidebar-newsletter-button,
body.category.archetype-regular.category-knowledge-base-video a.sidebar-newsletter-button{
    background-color: #3cc1b7;
    color: var(--primary) !important;
    text-transform: uppercase;
    font-weight: bold !important;
    text-align: center;
    margin-top: 15px;
    display: none !important;
	
    font-size: 1.1em;
    font-weight: bold;
    color: #656565;
    border-bottom: 1px solid var(--primary-low) !important;
    padding: 15px 10px;
    font-weight: unset;
    position: relative;
    z-index: 100;
}

html.anon body.category.archetype-regular.category-knowledge-base a.sidebar-newsletter-button,
html.anon body.category.archetype-regular.category-knowledge-base-video a.sidebar-newsletter-button {
    display: block !important;
}


body.category.archetype-regular.category-knowledge-base .topic-sidebar-contents a.sidebar-newsletter-button:hover,
body.category.archetype-regular.category-knowledge-base-video .topic-sidebar-contents a.sidebar-newsletter-button:hover {
    color: var(--primary) !important;
    background-color: var(--tertiary-hover) !important;
    transition: all 0.25s;
}

body.category.category-knowledge-base div[data-wrap="sidebar-newsletter-button"]{
    background-color: #3cc1b7;
   // text-transform: uppercase;
    font-weight: bold !important;
    text-align: center;
    margin-top: 15px;
    padding: 17px;
    margin-bottom: -12px;
}

html.anon body.category.category-knowledge-base div[data-wrap="sidebar-newsletter-button"]{
    display: block !important;
}

body.custom-sidebar.category.category-knowledge-base div[data-wrap="sidebar-newsletter-button"]:hover {
    background-color: var(--tertiary-hover) !important;
    transition: all 0.25s;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar-contents div[data-wrap="sidebar-newsletter-button"] a {
    color: var(--secondary) !important;
}

body.category.archetype-regular.category-knowledge-base .post-stream .topic-sidebar-contents,
body.category.archetype-regular.category-knowledge-base-video .post-stream .topic-sidebar-contents{
    float: right;
    margin-top: -15px;
    width: 20.5%;
  //  position: absolute;
  //  left: 59em;
}

body.navigation-topics .post-stream .topic-sidebar-contents,
body.tags-page .post-stream .topic-sidebar-contents{
    display: none;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar-contents .emoji-custom {
    width: 30px !important;
    color: #999;
    min-width: unset;
    margin: 0 !important;
    font-size: 2em;
    opacity: 1;
    padding-left: 37px;
    padding-top: 20px;
    filter: invert(61%) sepia(4%) saturate(12%) hue-rotate(90deg) brightness(100%) contrast(89%);
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar-contents .emoji-custom:hover {
    filter: invert(27%) sepia(76%) saturate(4228%) hue-rotate(257deg) brightness(99%) contrast(96%) !important;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar-contents .emoji-custom[title=":twitter:"] {
    padding-left: 5px;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar h2 {
    margin: -3px 0px 0px -3px !important;
    font-size: 1.5em !important;
   // border-bottom: 1px solid var(--primary-low) !important;
    padding: 0px 8px 20px 0px;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar {
    overflow: visible !important;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar a, 
body.category.archetype-regular.category-knowledge-base .topic-sidebar a,
body.category.archetype-regular.category-knowledge-base-video .topic-sidebar a{
    color: #555 !important;
    font-size: 1.1rem !important;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar a:hover, 
body.category.archetype-regular.category-knowledge-base .topic-sidebar a:hover,
body.category.archetype-regular.category-knowledge-base-video .topic-sidebar a:hover{
    color: blue !important;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar-contents div.cooked p:first-of-type a {
    font-size: 1.1em;
              font-weight: bold;
              color: #656565;
             // border-bottom: 1px solid var(--primary-low) !important;
              display: block !important;
              padding: 10px 0px;
              font-weight: unset;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar-contents div.cooked br {
    display: none !important;
}

body.custom-sidebar.category.category-knowledge-base .category-sidebar-contents div.cooked p:first-of-type {
    margin-top: 0 !important;
}


body.category.archetype-regular.category-knowledge-base .container.posts {
    display: block !important;
}

/*end topic-sidebar changes*/


/*topic list changes*/

body.custom-sidebar.category.category-knowledge-base {
	.topic-list {
		margin-top: -32px !important;

		thead {
			th.activity {
			    display: none !important;
			}

			th.default {
			    padding-bottom: 4px !important;
			    visibility: hidden;

			    .bulk-select, 
			    .bulk-select-topics {
			        visibility: visible !important;
			    }
			}
		}

		tbody {
			border-top: none;
		}

		.topic-list-item {
			border: 1px solid var(--primary-low) !important;
		    margin-bottom: 9px !important;
		    display: inline-block !important;
		    background: #ffffff !important;
		    box-shadow: 0px 0px 5px 1px #e4e5e5;

		    td.main-link.clearfix {
		    	padding-bottom: 29px !important;
			    padding-top: 27px !important;
			    padding-right: 27px !important;
		    }

		    .posters a:not(:first-child) {
		    	display: none !important;
		    }
		}

		.posters {
			width: 4%;
			padding-top: 15px !important;
    		padding-left: 22px !important;

			&>a {
				margin-left: 7px;
    			margin-top: 17px;
			}
		}

		.num.activity a {
			padding: 0px 5px;
    		font-size: .8706em;
		}

		tr.topic-list-item-separator td {
		    padding: 15px !important;
		}
	}

	td.posters,
	td.activity {
		display: flex !important;
	}

	.views,
	.likes,
	.posts {
		display: none !important;
	}

	img.avatar {
		width: 35px;
    	height: 35px;
	}

	td.main-link.clearfix {
		width: 85% !important;
    	float: right;
	}

	td.num.age.activity {
		padding-top: 6px;
	    padding-bottom: 12px;
	    margin-top: 12px;
	    padding-right: 0;
	    margin-left: 12px;
	}

	a.post-activity,
	.discourse-tags {
		width: 100%;
	}

	a.title.raw-link.raw-topic-link {
		font-weight: bold;
		font-size: 1.54rem !important;
	}

	.category-sidebar-knowledge-base {
	    margin-top: 12px;
	    width: 290px;

	    p {
    		font-size: 1.15em;
		}

		.cooked {
		    padding: 1.5em 1.1em !important;
		}
	}

	.category-sidebar {
	    top: 0px !important;
	}

	.user-title {
    	display: none;
	}

	.contents>.topic-list {
	    grid-template-columns: 77.5% 25.5% !important;
	    grid-column-gap: 1%;

	    &>.category-sidebar {
		    position: relative !important;
		}
	}

	.topic-thumbnails-list {
		.topic-list-thumbnail {
			margin-right: 29px !important;
    		width: 180px !important;
    		height: 130px !important;
		}
	}

	table.shared-drafts {
	    margin-top: -30px !important;

	    td.num.age.activity {
		    margin-top: 56px !important;
		}
	}

}

body.tags-page.category-knowledge-base {
	.topic-list {
		tbody {
		    border-top: none;
		}

		.topic-list-item {
		    border: 1px solid var(--primary-low) !important;
		    margin-bottom: 9px !important;
		    display: inline-block !important;
		    background: #ffffff !important;
		    box-shadow: 0px 0px 5px 1px #e4e5e5;

		    td.main-link.clearfix {
		    	padding-bottom: 29px !important;
			    padding-top: 27px !important;
			    padding-right: 27px !important;
		    }

		    .posters a:not(:first-child) {
		    	display: none !important;
		    }
		}

		.posters {
			width: 4%;
			padding-top: 15px !important;
    		padding-left: 22px !important;

			&>a {
				margin-left: 7px;
    			margin-top: 17px;
			}
		}

		.num.activity a {
			padding: 0px 5px;
    		font-size: .8706em;
		}
	}

	td.posters,
	td.activity {
		display: flex !important;
	}

	.views,
	.likes,
	.posts {
		display: none !important;
	}

	img.avatar {
		width: 35px;
    	height: 35px;
	}

	td.main-link.clearfix {
		width: 85% !important;
    	float: right;
	}

	td.num.age.activity {
		padding-top: 6px;
	    padding-bottom: 12px;
	    margin-top: 12px;
	    padding-right: 0;
	    margin-left: 12px;
	}

	a.post-activity,
	.discourse-tags {
		width: 100%;
	}

	a.title.raw-link.raw-topic-link {
		font-weight: bold;
		font-size: 1.54rem !important;
	}

	.topic-thumbnails-list {
		.topic-list-thumbnail {
			margin-right: 29px !important;
    		width: 180px !important;
    		height: 130px !important;
		}
	}
}

body.custom-sidebar.category.category-knowledge-base.staff .navigation-container {
    margin-bottom: 15px;
}

@media screen and (min-width: 767px) {
body:not(.category-knowledge-base).custom-sidebar {
	.contents>.topic-list {
		thead,
		tbody {
			grid-area: unset !important;
		}
	}
}

/*end topic list changes*/

/*KB subcategory Video changes*/
body.category.archetype-regular.category-knowledge-base-video #post_1 .topic-avatar {
    padding-top: 2px !important;
    height: 0px;
    border-top: none;
    background: none;
    float: left;
    z-index: 2;
    width: 0px !important;
}

body.category.archetype-regular.category-knowledge-base-video #post_1 .topic-avatar img {
	height: 30px !important;
    width: 30px !important;
}

body.category.archetype-regular.category-knowledge-base-video #post_1 .topic-body .topic-meta-data {
	flex-direction: unset !important;
    margin-left: 40px !important;
    padding: 0;
}

body.category.archetype-regular.category-knowledge-base-video #post_1 .topic-body {
	padding-top: 5px !important;
	border-top: unset !important;
	border-right: 1px solid var(--primary-low);
	width: calc(815px + (23px * 2)) !important;
}

body.category.archetype-regular.category-knowledge-base-video #post_1 .topic-body .contents {
    margin-top: 15px;
    border-top: 1px solid #e9e9e9;
}

body.category.archetype-regular.category-knowledge-base-video .topic-timeline {
    display: none !important;
}

body.category.archetype-regular.category-knowledge-base-video .container.posts {
    display: block !important;
}
/*end KB subcategory Video changes*/



/*KB sidebar on tag pages*/
body.category-header.tags-page.category-knowledge-base .topic-list 
{
    margin-top: -50px !important;
}

body.category-header.tags-page.category-knowledge-base .topic-list thead, body.tags-page.category-knowledge-base .topic-list thead {
    //visibility: hidden;
    display: none;
}

body.category-header.tags-page.category-knowledge-base .topic-list tbody, body.tags-page.category-knowledge-base .topic-list tbody {
    border-top: none;
}

body.category-header.tags-page.category-knowledge-base tr, body.tags-page.category-knowledge-base tr {
    width: 100% !important;
} 

body.category-header.tags-page.category-knowledge-base td.posters, body.tags-page.category-knowledge-base td.posters,
body.category-header.tags-page.category-knowledge-base td.activity, body.tags-page.category-knowledge-base td.activity {
    display: flex !important;
}

body.category-header.tags-page.category-knowledge-base .topic-list .views, body.tags-page.category-knowledge-base .topic-list .views,
body.category-header.tags-page.category-knowledge-base .topic-list .likes, body.tags-page.category-knowledge-base .topic-list .likes,
body.category-header.tags-page.category-knowledge-base .topic-list .posts, body.tags-page.category-knowledge-base .topic-list .posts{
    display: none !important;
}

body.category-header.tags-page.category-knowledge-base .topic-list .posters, body.tags-page.category-knowledge-base .topic-list .posters {
    width: 4%;
} 

body.category-header.tags-page.category-knowledge-base img.avatar, body.tags-page.category-knowledge-base img.avatar {
    width: 35px;
    height: 35px;
}

body.category-header.tags-page.category-knowledge-base .topic-list .posters>a, body.tags-page.category-knowledge-base .topic-list .posters>a {
    margin-left: 7px;
    margin-top: 17px;
}

body.category-header.tags-page.category-knowledge-base td.main-link.clearfix, body.tags-page.category-knowledge-base td.main-link.clearfix {
    width: 85% !important;
    float: right;
}

body.category-header.tags-page.category-knowledge-base td.num.age.activity, body.tags-page.category-knowledge-base td.num.age.activity {
    padding-top: 6px;
    padding-bottom: 12px;
    margin-top: 12px;
    //width: 4% !important;
    padding-right: 0;
    //padding-left: 24px;
    margin-left: 12px;
}

body.category-header.tags-page.category-knowledge-base .topic-list .num.activity a, body.tags-page.category-knowledge-base .topic-list .num.activity a {
    padding: 0px 5px;
    font-size: .8706em;
}

body.category-header.tags-page.category-knowledge-base a.post-activity, body.tags-page.category-knowledge-base a.post-activity {
    width: 100%;
}

body.category-header.tags-page.category-knowledge-base a.title.raw-link.raw-topic-link, body.tags-page.category-knowledge-base a.title.raw-link.raw-topic-link {
    font-weight: bold;
}


body.category-header.tags-page.category-knowledge-base .discourse-tags, body.tags-page.category-knowledge-base .discourse-tags {
    width: 100%;
}


body.category-header.tags-page.category-knowledge-base .category-sidebar-knowledge-base {
    margin-top: 12px;
    width: 290px;
}

body.category-header.tags-page.category-knowledge-base .custom-sidebar .contents>.topic-list>.category-sidebar {
    max-height: 155vh !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-knowledge-base p {
    font-size: 1.15em;
}

body.category-header.tags-page.category-knowledge-base .custom-sidebar.sidebar-right .contents>.topic-list {
    grid-template-columns: 73% 25% !important;
}


body.category-knowledge-base .user-title {
    display: none;
}


/////////////////end toni

body.category-header.tags-page.category-knowledge-base a.title.raw-link.raw-topic-link, body.tags-page.category-knowledge-base a.title.raw-link.raw-topic-link {
    font-size: 1.54rem !important;
}

body.category-header.tags-page.category-knowledge-base .topic-list-item td.main-link.clearfix, body.tags-page.category-knowledge-base .topic-list-item td.main-link.clearfix {
    padding-bottom: 29px !important;
    padding-top: 27px !important;
    padding-right: 27px !important;
}

body.category-header.tags-page.category-knowledge-base .topic-list-item .posters a:not(:first-child), body.tags-page.category-knowledge-base .topic-list-item .posters a:not(:first-child){
    display: none !important;
}

body.category-header.tags-page.category-knowledge-base .topic-list .posters, body.tags-page.category-knowledge-base .topic-list .posters {
    padding-top: 15px !important;
    padding-left: 22px !important;
}

body.category-header.tags-page.category-knowledge-base .topic-thumbnails-list .topic-list-thumbnail, body.tags-page.category-knowledge-base .topic-thumbnails-list .topic-list-thumbnail {
    margin-right: 29px !important;
    width: 180px !important;
    height: 130px !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-knowledge-base .cooked {
    padding: 1.5em 1.1em !important;
}


body.category-header.tags-page.category-knowledge-base div[data-wrap="sidebar-newsletter-button"]:hover {
    background-color: var(--tertiary-hover) !important;
    transition: all 0.25s;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-contents div[data-wrap="sidebar-newsletter-button"] a {
    color: var(--secondary) !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-contents div[data-wrap="sidebar-newsletter-button"] {
    background-color: #3cc1b7;
    font-weight: bold !important;
    text-align: center;
    margin-top: 15px;
    padding: 17px;
    margin-bottom: -12px;
}

html.anon body.category-header.tags-page.category-knowledge-base div[data-wrap="sidebar-newsletter-button"]{
    display: block !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-contents .emoji-custom {
    width: 30px !important;
    color: #999;
    min-width: unset;
    margin: 0 !important;
    font-size: 2em;
    opacity: 1;
    padding-left: 37px;
    padding-top: 20px;
    filter: invert(61%) sepia(4%) saturate(12%) hue-rotate(90deg) brightness(100%) contrast(89%);
}
body.category-header.tags-page.category-knowledge-base .category-sidebar-contents .emoji-custom:hover {
    filter: invert(27%) sepia(76%) saturate(4228%) hue-rotate(257deg) brightness(99%) contrast(96%) !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-contents .emoji-custom[title=":twitter:"] {
    padding-left: 5px;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar h2 {
    margin: -3px 0px 0px -3px !important;
    font-size: 1.5em !important;
    padding: 0px 8px 20px 0px;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar {
    overflow: visible !important;
    top: 0px !important;
    max-height: none !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar a, 
body.category.archetype-regular.category-knowledge-base .topic-sidebar a,
body.category.archetype-regular.category-knowledge-base-video .topic-sidebar a{
    color: #555 !important;
    font-size: 1.1rem !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar a:hover, 
body.category.archetype-regular.category-knowledge-base .topic-sidebar a:hover,
body.category.archetype-regular.category-knowledge-base-video .topic-sidebar a:hover{
    color: blue !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-contents div.cooked p:first-of-type a {
    font-size: 1.1em;
              font-weight: bold;
              color: #656565;
              display: block !important;
              padding: 10px 0px;
              font-weight: unset;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-contents div.cooked br {
    display: none !important;
}

body.category-header.tags-page.category-knowledge-base .category-sidebar-contents div.cooked p:first-of-type {
    margin-top: 0 !important;
}

body.tags-page.category-knowledge-base.custom-sidebar .topic-list {
    margin-top: -50px !important;
}


body.tags-page.category-knowledge-base .container.list-container {
    margin-top: 20px;
}

body.custom-sidebar.category.category-knowledge-base #main>div:first-child,
body.tags-page.category-knowledge-base #main>div:first-child{
    background-color: #F2F4F5;
}

/*end KB sidebar on tag pages*/

.category-knowledge-base-video .loading-container .topic-timer-info {
	border-top: none !important;
}

body.custom-sidebar.category.category-knowledge-base tr, body.tags-page.category-knowledge-base tr {
    width: 100% !important;
} 

body.category.archetype-regular.category-knowledge-base,
body.category.archetype-regular.category-knowledge-base-video {
    .consent_banner.alert, #banner {
        margin-top: 1.5em;
	    margin-bottom: 0 !important;
    }
}
